@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #00ff9ccc;
}

@theme {
  --animate-blink: blink 1s steps(1) infinite;
  --color-primary: #01ff9c;
  --color-neon: linear-gradient(135deg, #0a0a0af2, #000000f2);
  --color-input-neon: #00ff9c0d;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-courier-prime), monospace;
}

pre {
  font-family: var(--font-courier-prime), monospace;
}

.text-shadow-neon {
  text-shadow: 0 0 10px rgba(0, 255, 156, 0.8), 0 0 20px rgba(0, 0, 0, 0.9);
}

.box-shadow-neon {
  box-shadow: 0 0 50px #00ff9c1a;
}

.border-neon {
  border: 1px solid rgba(0, 255, 156, 0.3);
}
